html {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--mantine-color-gray-0);
}

body {
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &:has(.mantine-Modal-overlay) {
    margin-right: 0 !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mantine-color-gray-5);
    border-radius: 0.15rem;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-not-found {
  .mantine-Flex-root {
    position: absolute;
    margin: 1.5rem;
  }
}

.m_77c9d27d.mantine-Button-root {
  height: 2.5rem;
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  background-color: var(--mantine-color-purple-5);

  &:hover {
    background-color: var(--mantine-color-purple-3);
  }

  &:active {
    background-color: var(--mantine-color-purple-8);
  }

  &[data-variant='transparent'] {
    padding: 0;
    font-weight: 500;
    color: var(--mantine-color-purple-5);
    background-color: transparent;

    &:hover {
      color: var(--mantine-color-purple-3);
    }

    &:active {
      color: var(--mantine-color-purple-8);
    }

    &:disabled {
      color: var(--mantine-color-gray-6);
    }
  }
}

.m_8fb7ebe7.mantine-Input-input {
  border: 1px solid var(--mantine-color-gray-2);
  font-family: var(--inter);
  font-size: var(--mantine-font-size-xs);

  &:hover,
  &:focus {
    border: 1px solid var(--mantine-color-purple-5);
  }

  &[data-expanded='true'] {
    border: 1px solid var(--mantine-color-purple-5);
  }

  &::placeholder {
    color: var(--mantine-color-gray-4);
  }
}
